/* В этом файле вы опишете значения переменных в разных цветовых схемах.
Придерживайтесь такого именования классов:
✦ theme-dark — класс тёмной темы
✦ theme-light — класс светлой темы
✦ не забудьте описать стили для изменения темы через медизапрос пользовательских предпочтений
*/


:root.theme-dark {
    --themes-background: #000;
    --font-weight-title: 785;
    --font-weight-text: 465;
    --color-heart: #FF0000;
    --themes-accent-color: #00CC14;
    --button-text-color: #00CC14;
    --background-image: 
        repeating-linear-gradient(to bottom, #000 0 2px, transparent 2px 4px),
        repeating-linear-gradient(to right, #000 0 2px, transparent 2px 4px), 
        linear-gradient(to bottom, #007f0c, #004306);
}

:root.theme-light {
    --font-weight-title: 700;
    --font-weight-text: 400;
    --color-heart: #FF0000;
    --themes-accent-color: #000;
    --themes-background: #fff;
    --button-text-color: #fff;
    --background-image: 
        repeating-linear-gradient(to bottom, #d3d3d3 0 2px, transparent 2px 4px),
        repeating-linear-gradient(to right, #d3d3d3 0 2px, transparent 2px 4px),
        linear-gradient(to bottom, #e7e7e7 0.01%, #1a1a1a);
}

@media (prefers-color-scheme: light) {
    :root {
        --font-weight-title: 700;
        --font-weight-text: 400;
        --themes-accent-color: #000;
        --themes-background: #fff;
        --button-text-color: #fff;
        --color-heart: #FF0000;
        --background-image: 
            repeating-linear-gradient(to bottom, #d3d3d3 0 2px, transparent 2px 4px),
            repeating-linear-gradient(to right, #d3d3d3 0 2px, transparent 2px 4px),
            linear-gradient(to bottom, #e7e7e7 0.01%, #1a1a1a);
    }
}

@media (prefers-color-scheme: dark) {
    :root {
        --themes-background: #000;
        --font-weight-title: 785;
        --font-weight-text: 465;
        --themes-accent-color: #00CC14;
        --button-text-color: #00CC14;
        --color-heart: #FF0000;
        --background-image: 
            repeating-linear-gradient(to bottom, #000 0 2px, transparent 2px 4px),
            repeating-linear-gradient(to right, #000 0 2px, transparent 2px 4px), 
            linear-gradient(to bottom, #007f0c, #004306);
    }
}