/* В этом файле будут храниться все значения переменных в исходном состоянии, а так же их изменения в зависимости от ширины устройства */
:root {
    --font-weight-title: 700;
    --font-weight-text: 400;
    --color-heart: #FF0000;
    --themes-accent-color: #000;
    --themes-background: #FFF;
    --background-image: 
        repeating-linear-gradient(to bottom, #d3d3d3 0 2px, transparent 2px 4px),
        repeating-linear-gradient(to right, #d3d3d3 0 2px, transparent 2px 4px),
        linear-gradient(to bottom, #e7e7e7 0.01%, #1a1a1a);
    --font-family-press: 'PressStart2P', fantasy;
    --font-family-inter: 'Inter', sans-serif;
}